.mtte.forge .scene {
  display: inline-flex;
  cursor: pointer;
  position: relative;
}

.mtte.forge .scene:hover {
  opacity: 50%;
}

.mtte.forge .scene img {
  object-fit: contain;
  border: none;
  margin: 2px;
}

.mtte .thumb { 
  overflow: hidden;
  margin: auto;
  width: 400px;
  height: 400px;
}

.mtte.share .list {
  height: 22px;
  overflow-y: hidden;
  margin-top: 5px;
}

.mtte .agree {
  font-size: smaller;
  text-align: justify;
}

.mtte .includes {
  position: absolute;
  bottom: 10px;
}

.mtte .includes .info {
  margin-left: 10px;
  display: inline-block;
  width: 36px;
  height: 36px;
  box-sizing: content-box;
  font-size: 24px;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px #000;
  color: #BBB;
  text-align: center;
  border: 1px solid #000;
  border-radius: 5px;
}

