.mtte.forge .scene {
  display: inline-flex;
  cursor: pointer;
  position: relative;
}

.mtte.forge .scene img {
  object-fit: contain;
  border: none;
  margin: 2px;
}

.mtte .thumb { 
  overflow: hidden;
  margin: auto;
  width: 400px;
  height: 400px;
}

.mtte.share .list {
  height: 22px;
  overflow-y: hidden;
  margin-top: 5px;
}

.mtte .agree {
  font-size: smaller;
  text-align: justify;
}

.mtte .includes {
  position: absolute;
  bottom: 10px;
}

.mtte .includes .info, .mtte .resolutions .info {
  margin-left: 8px;
  display: inline-block;
  width: 24px;
  height: 24px;
  line-height: 24px;
  box-sizing: content-box;
  font-size: 16px;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px #000;
  color: #BBB;
  text-align: center;
  border: 1px solid #000;
  border-radius: 5px;
}

.mtte .resolutions {
  position: absolute;
  top: 10px;
  right: 10px;
}

.mtte .text {
  text-shadow: 0.03em 0 lightgrey, 0 0.03em lightgrey;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000;
  font-size: large;
  display: none;
}

.mtte .progressBlock {
  visibility: hidden;
  margin-top: 15px;
  color: darkgreen;
}

.mtte .progressBar {
  height: 15px;
  width: 0%;
  background-color: darkgreen;
  border-radius: 6px;
}
