.mtte.forge .scene {
  display: inline-flex;
  cursor: pointer;
  position: relative;
}

.mtte.forge .scene img {
  object-fit: contain;
  border: none;
  margin: 2px;
}

.mtte.forge .scene img.packer {
  margin: 0px;
}

.mtte .thumb { 
  overflow: hidden;
  margin: auto;
  width: 400px;
  height: 400px;
}

.mtte.share .list {
  height: 22px;
  overflow-y: hidden;
  margin-top: 5px;
}

.mtte .agree {
  font-size: smaller;
  text-align: justify;
}

.mtte .includes {
  position: absolute;
  bottom: 10px;
}

.mtte .includes .info {
  margin-left: 8px;
  display: inline-block;
  width: 24px;
  height: 24px;
  line-height: 24px;
  box-sizing: content-box;
  font-size: 16px;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px #000;
  color: #BBB;
  text-align: center;
  border: 1px solid #000;
  border-radius: 5px;
}

.mtte .resolutions .info {
  margin-left: 8px;
  display: inline-block;
  width: 36px;
  height: 36px;
  line-height: 36px;
  box-sizing: content-box;
  font-size: 24px;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px #000;
  color: #BBB;
  text-align: center;
  border: 1px solid #000;
  border-radius: 5px;
}

.mtte .resolutions {
  position: absolute;
  top: 10px;
  right: 10px;
}

.mtte .text {
  text-shadow: 0.03em 0 lightgrey, 0 0.03em lightgrey;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000;
  font-size: large;
  display: none;
}

.mtte .progressBlock {
  visibility: hidden;
  margin-top: 15px;
  color: darkgreen;
}

.mtte .progressBar {
  height: 15px;
  width: 0%;
  background-color: darkgreen;
  border-radius: 6px;
}

#moulinette-preview .body {
  position: relative;
  height: 100%;
  overflow: hidden;
}

#moulinette-preview h3 {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 30px;
  overflow: hidden;
  width: 100%;
}

#moulinette-preview .scene {
  display: flex;
  height: auto;
  position: absolute;
  top: 30px;
  bottom: 90px;
  left: 0px;
  width: 100%;
}

#moulinette-preview .infos {
  position: absolute;
  bottom: 40px;
  left: 0px;
  height: 50px;
  overflow: hidden;
  width: 100%;
}

#moulinette-preview footer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 35px;
  overflow: hidden;
  width: 100%;
}
