.mtte.share .list {
  height: 22px;
  overflow-y: hidden;
  margin-top: 5px;
}

.mtte .list .scene {
  display:flex;
  align-items:center;
  padding-left: 3px;
  min-height: 22px;
}

.mtte .list .scene.alt {
  background: rgba(255, 255, 255, 0.2);
}

.mtte .scene .label { 
  width: 550px;
}

.mtte .list .scene:hover {
  background-color: #666;
  color: #eee;
}

.mtte .list .scene.header {
  background-color: #333;
  color: #eee;
}
