<form autocomplete="off" onsubmit="event.preventDefault();">
  <div class="main">
    <p>
      <div class="list">
        {{#each assets as |a|}}{{{a}}}{{/each}}
      </div>
    </p>
  </div>
</form>
